
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge; IE=11; IE=EmulateIE11; IE=10; IE=EmulateIE10; IE=9; IE=EmulateIE9; IE=8; IE=EmulateIE8; IE=7; IE=EmulateIE7; IE=5; chrome=1; safari=1" />
        <script src="plugins/jquery-3.3.1.min.js"></script>
        <script src="plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" media="screen" href="plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">

        <title>Home - Ferraz Cicarelli </title>
   
  </head>

  <body>

      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
          
      </button>
          <a class="navbar-brand"  href="#" img src="img/feraz-advocacia.png"</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="quem-somos.html">Quem somos</a></li>
            <li><a href="áreas-de-atuação.html">Areas de atuação</a></li>
            <li><a href="estrutura.html">Estrutura</a></li>
            <li><a href="premios.html">Prêmios</a></li>
            <li><a href="contato.html">Contato</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

    </div> 
  </body>
</html>
